body {
  letter-spacing: 1.2px;
  padding: 0;
  margin: 0;
  font-size: 0.8vw;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}

h2 {
  padding: 5px 10px 10px 10px;
  text-align: center;
}

input {
  max-width: 200px;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

input::-ms-clear {
  display: none;
}

.app {
  width: 100%;
  height: 100vh;
}

.span {
  font-size: 90px;
}

.list {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background-color: white;
  margin: 0 auto 0 auto;
  justify-content: center;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
}

.cover {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  position: absolute;
  z-index: 2;
  background-color: white;
  opacity: 0.6;
  margin: 0 auto 0 auto;
  justify-content: center;
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
}

.product-container {
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom: 1px lightgray solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-buttons {
  width: 130px;
  height: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16), 4px 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  color: black;
}

.container-buttons:focus {
  outline: none;
}

.edit {
  background-color: blue;
  color: white;
}

.delete {
  background-color: purple;
  color: white;
}

.collumn {
  height: 55px;
}

.buttons-collumn {
  height: 55px;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.text-collumn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-collumn {
  position: absolute;
  width: 70%;
  height: 100%;
  max-height: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid grey;
  text-align: center;
}

.product-button {
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  margin: 0 3px 0 3px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0 10px 0 10px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.product-button:focus {
  outline: none;
}

.view {
  margin-left: 15px;
}

.list-items {
  border-bottom: 1px lightgray solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-save {
  margin-left: 20px;
  background-color: greenyellow;
}

.button-save:focus {
  outline: none;
}

.containers {
  width: 500px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15px;
  border: 1px solid lightgray;

  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.view-container {
  width: 1050px;
  height: 680px;
  position: absolute;
  z-index: 2;
  padding: 40px;
}

.details-container {
  width: 520px;
  height: 615px;
  position: absolute;
  z-index: 2;
  padding: 40px;
}

.text-forms {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
  left: 50%;
}

.list-input {
  width: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top: 0.5px solid;
  text-align: center;
}

.disabled {
  width: 100%;
  right: 0;
  height: 55px;
  background-color: #e8e8e8;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  margin-left: 15px;
}
.disable-checkbox {
  width: 17px;
  height: 17px;
}

.disable-switch {
  z-index: 2;
}

.inlist-save {
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.inlist-save:focus {
  outline: none;
}

.list-container-buttons {
  width: 14%;
}

.list-container {
  max-width: 100px;
}

.col-1 {
  min-width: 70px;
}

.charts {
  width: 100%;
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.highlight {
  color: red;
}

.create-new-item {
  margin-left: 15px;
  background-color: greenyellow;
}

.view-tabs {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-bottom: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tab-text {
  margin: 10px;
  font-size: 17px;
}

.product-details {
  width: 350px;
  height: 300px;
  margin-top: 30px;
  background-color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.product-details-h5 {
  font-size: 22px;
  margin-left: 26px;
  line-height: 34px;
}

.center {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.default-container {
  height: 220px;
  padding: 30px;
}
